NODE_ENV=development
PORT=4000
APP_URL=http://localhost:5173
CLIENT_URL=http://localhost:5173
JWT_SECRET=supersecretkey
JWT_EXPIRY=7d
REFRESH_TOKEN_SECRET=anothersecretkey
REFRESH_TOKEN_EXPIRY=30d
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=edulure
DATABASE_USERNAME=root
DATABASE_PASSWORD=yourpassword
MEILISEARCH_HOST=http://localhost:7700
MEILISEARCH_API_KEY=masterKey
EMAIL_FROM=no-reply@edulure.com
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=mailtrap-user
EMAIL_PASSWORD=mailtrap-pass
